{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn", 
      {
        "argsIgnorePattern": "^_",  // 함수 매개변수에서 _로 시작하는 변수 무시
        "varsIgnorePattern": "^_"   // 일반 변수에서 _로 시작하는 변수 무시
      }
    ],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-object-type": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}